.catalog {
    margin-bottom: 30px;
}

.catalog__inner {
    display: flex;
    justify-content: space-between;
}

.catalog__sidebar {
    width: 22.98%;
 
    & > * + *{
        margin-top: 30px;
    }
}

.catalog__content {
    width: 74.325%;
}
